<div class="max-w-md mx-auto mt-24">
  <app-form-dialog>
    <app-form-header>New Clan</app-form-header>

    <form [formGroup]="clanForm">
      <app-form-field>
        <app-text-input [formControl]="name" label="Clan Name"/>
      </app-form-field>

      <app-form-error *ngIf="invalidForm$ | async">There was an issue creating the clan</app-form-error>
      <app-form-actions>
        <app-form-button [disabled]="name.invalid" (onClick)="submit()">Create</app-form-button>
      </app-form-actions>
    </form>
  </app-form-dialog>
</div>
