<component-frame>
  <div class="p-6">
    <div class="mb-6">
      <mat-checkbox [formControl]="complimentary">Complimentary Entry</mat-checkbox>
    </div>

    <div class="flex justify-around flex-wrap gap-x-8 mb-4">
      <div class="flex-grow">
        <mat-form-field appearance="outline" class="w-full">
          <input class="form-control"
                 id="gamertagInput"
                 matInput placeholder="Gamertag"
                 aria-label="Gamertag"
                 [matAutocomplete]="auto"
                 [formControl]="gamertag">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngIf="!(filteredEntrants$ | async)" class="mat-option-center" disabled>
              <mat-spinner diameter="24"></mat-spinner>
            </mat-option>
            <mat-option *ngFor="let entrant of filteredEntrants$ | async" [value]="entrant.gamertag" [disabled]="!entrant.active">
              <span>{{entrant.gamertag}}</span>
              <small
                *ngIf="!entrant.active"
                class="ml-2.5 text-xs font-semibold tracking-wider align-top">INACTIVE</small>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="gamertag.hasError('required')">
            A gamertag is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="gamertag.hasError('inactiveEntrant')">
            This entrant is set as <strong>inactive</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex-grow">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput placeholder="Donation" [formControl]="donation">
          <mat-error *ngIf="donation.hasError('required') || donation.hasError('min')">
            A donation is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <ng-container *ngIf="!(submitted$ | async) else submitted">
      <button
        mat-raised-button
        class="w-full"
        (click)="submit()"
        [disabled]="entryForm.invalid || !(selectedEntrantValid$ | async)">Add Entry</button>
    </ng-container>
  </div>
</component-frame>



<ng-template #submitted>
  <button mat-raised-button disabled class="w-full">
    <mat-spinner diameter="24"></mat-spinner>
  </button>
</ng-template>
