<component-frame>
  <div class="p-6">
    <div class="flex justify-around flex-wrap gap-x-8 mb-4">
      <div class="flex-grow">
        <mat-form-field appearance="outline" class="w-full">
          <input class="form-control"
                 id="gamertagInput"
                 matInput placeholder="Gamertag"
                 aria-label="Gamertag"
                 [matAutocomplete]="auto"
                 [formControl]="gamertag">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngIf="!(entrants$ | async)" class="mat-option-center" disabled>
              <mat-spinner diameter="24"></mat-spinner>
            </mat-option>
            <mat-option *ngFor="let entrant of filteredEntrants$ | async" [value]="entrant.gamertag">
              <span>{{entrant.gamertag}}</span>
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="gamertag.hasError('required')">
            A gamertag is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="flex-grow">
        <mat-form-field appearance="outline" class="w-full">
          <input matInput placeholder="Donation" [formControl]="donation">
          <mat-error *ngIf="donation.hasError('required') || donation.hasError('min')">
            A donation is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <ng-container *ngIf="!(submitted$ | async) else submitted">
      <button mat-raised-button class="w-full" (click)="submit()" [disabled]="entryForm.invalid">Add Entry</button>
    </ng-container>
  </div>
</component-frame>



<ng-template #submitted>
  <button mat-raised-button disabled class="w-full">
    <mat-spinner diameter="24"></mat-spinner>
  </button>
</ng-template>
