<app-form-dialog>
  <app-form-header>New Raffle</app-form-header>

  <form [formGroup]="raffleForm">
    <mat-form-field class="w-full mb-4">
      <mat-label>Title</mat-label>
      <input matInput [formControl]="name" placeholder="Raffle Title">
      <mat-error *ngIf="name.hasError('required')">Required</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Entry Cost</mat-label>
      <input matInput [formControl]="entryCost" placeholder="5000">
      <mat-error *ngIf="entryCost.hasError('required')">Required</mat-error>
    </mat-form-field>

    <app-form-field>
      <app-form-date-input [formControl]="openDate" label="Open Date"/>
    </app-form-field>
    <app-form-field>
      <app-form-date-input [formControl]="closeDate" label="Close Date"/>
    </app-form-field>
    <app-form-field>
      <app-form-date-input [formControl]="drawDate" label="Draw Date"/>
    </app-form-field>

    <app-form-actions>
      <app-form-button [disabled]="name.invalid" (onClick)="submit()">Create</app-form-button>
      <app-form-button type="secondary" (onClick)="dialogRef.close()">Cancel</app-form-button>
    </app-form-actions>
  </form>
</app-form-dialog>
