<component-frame>
  <ng-container *ngIf="entries.length else noEntries">
    <div *ngFor="let entry of (entries | reverse)"
      class="flex min-w-0 gap-x-4 py-6 justify-between last:border-none border-b border-gray-200 dark:border-primary-850">
      <p class="text-sm font-semibold leading-none basis-1/3 text-center">{{entry.entrant.gamertag}}</p>
      <p class="mt-1 truncate text-xs leading-none basis-1/3 text-center">{{entry.donation | shortNumber}}</p>
      <p class="mt-1 truncate text-xs leading-none basis-1/3 text-center">{{entry.tickets.item1}} - {{entry.tickets.item2}}</p>
    </div>
  </ng-container>

  <ng-template #noEntries>
    <div class="flex min-w-0 py-6 justify-center">
      <p class="text-sm font-semibold text-center">No entries yet</p>
    </div>
  </ng-template>
</component-frame>
