<header class="sticky bg-primary-500 w-full py-2 px-2 text-gray-100">
  <div class="max-w-screen-lg sm:px-6 flex justify-between items-center mx-auto">
    <div class="flex items-center">
      <a [ngClass]="{'hidden' : baseRoute$ | async}"
         (click)="back()" class="mr-2 sm:mr-6 px-2 cursor-pointer font-semibold text-xl leading-none"><</a>
      <h2 class="text-3xl font-light leading-none">{{title.getTitle()}}</h2>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</header>
<main class="container max-w-screen-lg mx-auto w-screen">
  <ng-content/>
</main>

<mat-menu #menu="matMenu" yPosition="below" xPosition="before">
  <button mat-menu-item (click)="showMemberId()">
    <mat-icon>fingerprint</mat-icon>
    <span>Member Id</span>
  </button>
  <button mat-menu-item (click)="account.logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
