<header class="sticky bg-primary-500 dark:bg-primary-700 w-full flex py-2 justify-between items-center px-2 sm:px-6 text-gray-100 dark:text-primary-0">
  <h2 class="text-3xl font-light">{{title.getTitle()}}</h2>

  <div *ngIf="(account.currentUser$ | async) as user" class="text-right">
    <div class="text-sm">Hello, {{user['userName']}}</div>
    <a class="text-md cursor-pointer hover:text-primary-700" (click)="account.logout()">Logout</a>
  </div>
</header>

<div class="container max-w-sm">
  <ng-content/>
</div>
