<ng-container *ngIf="clan">
  <component-frame [routerLink]="'/clans/' + clan.id">
    <div class="flex justify-between items-center cursor-pointer">
      <div class="pointer-events-none">
        <h1 class="font-display leading-none text-2xl">{{clan.name}}</h1>
        <h2 class="font-light leading-tight">{{clan.owner.userName}}</h2>
      </div>
      <app-form-link *ngIf="clan.raffles.length" [link]="'/clans/' + clan.id + '/raffles/' + clan.raffles[0]?.id">Goto Raffle</app-form-link>
      <app-form-link *ngIf="!clan.raffles.length" [link]="'/clans/' + clan.id + '/new-raffle'">Create Raffle</app-form-link>
    </div>
  </component-frame>
</ng-container>
