<sheet-container *ngIf="prize$ | async as prize">
  <sheet-header>Rolling for {{prize.place | numericPosition}} place</sheet-header>
  <sheet-footer>
    <div class="flex gap-2 justify-between flex-row-reverse">
      <ng-container *ngIf="prizeCount > 1 else closeButton">
        <button mat-raised-button
                [disabled]="submitted || (rollResponse == undefined) || (rollResponse?.reroll == true)"
                (click)="nextPrize()"
                color="primary"
                class="w-full">Next</button>
      </ng-container>
      <ng-template #closeButton>
        <button mat-raised-button
                [disabled]="submitted"
                (click)="bottomSheet.dismiss()"
                color="primary"
                class="w-full">Finish</button>
      </ng-template>

      <button mat-raised-button class="w-full" [disabled]="submitted" (click)="bottomSheet.dismiss()">Cancel</button>
    </div>
  </sheet-footer>

  <div class="flex justify-center items-center flex-col py-16">
    <ng-container *ngIf="rollResponse else rolling">
      <span class="text-2xl font-display mb-2" [ngClass]="{'text-red-500': rollResponse.reroll}">{{rollResponse.winner.gamertag}}</span>
      <span class="text-4xl font-display mb-4">{{rollResponse?.ticketNumber}}</span>
    </ng-container>
    <ng-template #rolling>
      <span class="text-4xl font-display mb-4" *ngIf="submitted">Rolling...</span>
    </ng-template>
    <button mat-fab color="primary" class="mt-auto" [disabled]="submitted || (rollResponse?.reroll == false)" (click)="rollWinner()">
      <mat-icon>casino</mat-icon>
    </button>
  </div>

<!--  <div class="mb-4">-->
<!--    <mat-error>There was a problem with posting to Discord.</mat-error>-->
<!--  </div>-->

</sheet-container>
