<sheet-container>
  <sheet-header>Rolling Winners</sheet-header>
  <sheet-footer>
    <div class="flex gap-2 justify-between flex-row-reverse">
      <ng-container *ngIf="prizeCount > 1 else closeButton">
        <button mat-raised-button
                [disabled]="submitted || (rollResponse == undefined) || (rollResponse?.reroll == true)"
                (click)="nextPrize()"
                color="primary"
                class="w-full">Next</button>
      </ng-container>
      <ng-template #closeButton>
        <button mat-raised-button
                [disabled]="submitted || (rollResponse == undefined) || (rollResponse?.reroll == true)"
                (click)="bottomSheet.dismiss()"
                color="primary"
                class="w-full">Finish</button>
      </ng-template>

      <button mat-raised-button class="w-full" [disabled]="submitted" (click)="bottomSheet.dismiss()">Cancel</button>
    </div>
  </sheet-footer>

  <ng-container *ngIf="prize$ | async as prize else noPrize">
    <div class="font-display mb-4 text-lg font-light">
      <p>Rolling for {{prize.place | numericPosition}} place</p>
    </div>

    <div class="flex justify-center items-center flex-col pb-16">
      <ng-container *ngIf="rollResponse else rolling">
        <span class="text-2xl font-display mb-2" [ngClass]="{'text-red-500': rollResponse.reroll}">{{rollResponse.winner.gamertag}}</span>
        <span class="text-4xl font-display mb-4">{{rollResponse?.ticketNumber}}</span>
      </ng-container>
      <ng-template #rolling>
        <div class="min-h-[6rem] flex">
          <span class="text-2xl font-display mb-4 mt-auto" *ngIf="submitted">Rolling...</span>
        </div>
      </ng-template>
      <button mat-fab color="primary" class="mt-auto" [disabled]="submitted || (rollResponse?.reroll == false)" (click)="rollWinner()">
        <mat-icon>casino</mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-template #noPrize>
    <div class="font-display mb-4 text-lg font-light">
      <p>No prizes left to roll</p>
    </div>

    <div class="flex justify-center items-center flex-col pb-16">
        <div class="min-h-[6rem] flex">
        </div>
      <button mat-fab color="primary" class="mt-auto" disabled>
        <mat-icon>casino</mat-icon>
      </button>
    </div>
  </ng-template>

  <div class="mb-4" *ngIf="error">
    <mat-error>{{error}}</mat-error>
  </div>

</sheet-container>
