<div class="max-w-md mx-auto mt-24">
  <app-form-dialog>
    <app-form-header>Login</app-form-header>

    <form [formGroup]="loginForm">
      <mat-form-field class="w-full mb-2">
        <mat-label>Username</mat-label>
        <input type="text" matInput [formControl]="userName"
               placeholder="Username">
        <mat-error *ngIf="userName.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="userName.hasError('pattern')">
          <strong>Only</strong> letters, numbers and -._@+ are allowed
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full mb-2">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="password"
               placeholder="Password">
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="invalidCredentials$ | async">
        Invalid username/password combination
      </mat-error>

      <app-form-actions>
        <app-form-button (onClick)="login()">Login</app-form-button>
        <app-form-link [link]="'/register'">Register</app-form-link>
      </app-form-actions>
    </form>
  </app-form-dialog>
</div>
