<div class="max-w-md mx-auto mt-24">
  <app-form-dialog>
    <app-form-header>Login</app-form-header>

    <form [formGroup]="loginForm">
      <mat-form-field class="w-full mb-2">
        <mat-label>Username</mat-label>
        <input type="text" matInput [formControl]="userName"
               placeholder="Username">
        <mat-error *ngIf="userName.hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="userName.hasError('pattern')">
          <strong>Only</strong> letters, numbers and -._@+ are allowed
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full mb-2">
        <mat-label>Password</mat-label>
        <input type="password" matInput [formControl]="password"
               placeholder="Password">
        <mat-error *ngIf="password.hasError('minlength')">
          Password must contain at least <strong>6 characters</strong>
        </mat-error>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="invalidCredentials$ | async">
        Invalid username/password combination
      </mat-error>

      <div class="flex justify-between flex-row-reverse">
        <button mat-raised-button
                color="primary"
                class="w-1/3"
                [disabled]="(submitted$ | async)!"
                (click)="login()">Login</button>
        <button mat-button
                routerLink="/register"
                [disabled]="(submitted$ | async)!">Register</button>
      </div>
    </form>
  </app-form-dialog>
</div>
