<div class="max-w-md mx-auto mt-24">
  <app-form-dialog>
    <app-form-header>Login</app-form-header>

    <form [formGroup]="loginForm">
      <app-form-field>
        <app-text-input [formControl]="userName" label="Username"/>
      </app-form-field>
      <app-form-field>
        <app-text-input [formControl]="password" [password]="true" label="Password"/>
      </app-form-field>

      <app-form-error *ngIf="invalidLogin$ | async">Invalid Username or Password</app-form-error>
      <app-form-actions>
        <app-form-button (onClick)="login()">Login</app-form-button>
        <app-form-link (click)="register()">Register</app-form-link>
      </app-form-actions>
    </form>
  </app-form-dialog>
</div>
