<sheet-container>
  <sheet-header>
    <ng-container *ngIf="clan$ | async as clan else createTitle">Edit Clan</ng-container>
    <ng-template #createTitle>New Clan</ng-template>
  </sheet-header>
  <sheet-footer>
    <div class="flex gap-2 justify-between flex-row-reverse">
      <button mat-raised-button
              color="primary"
              class="w-full"
              [disabled]="clanForm.invalid || clanForm.pristine"
              (click)="updateClan()"
              *ngIf="clan$ | async">Update</button>
      <button mat-raised-button
              color="primary"
              class="w-full"
              [disabled]="clanForm.invalid || (checkingName$ | async)"
              (click)="createClan()"
              *ngIf="!(clan$ | async)">Create</button>
      <button mat-raised-button class="w-full" (click)="bottomSheet.dismiss()">Cancel</button>
    </div>
  </sheet-footer>

  <form [formGroup]="clanForm">
    <mat-form-field class="w-full mb-4">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="name" placeholder="Clan Name">
      <mat-error *ngIf="name.hasError('required')">The clan must have a name</mat-error>
      <mat-error *ngIf="name.hasError('exists')">This clan name is already in use</mat-error>
      <mat-icon matSuffix *ngIf="checkingName$ | async">
        <mat-spinner diameter="24"></mat-spinner>
      </mat-icon>
    </mat-form-field>

    <mat-form-field class="w-full mb-4">
      <mat-label>Discord Channel Id</mat-label>
      <input matInput [formControl]="discordChannelId" placeholder="Id">
      <mat-error *ngIf="discordChannelId.hasError('pattern')">This is not a valid Discord channel Id</mat-error>
    </mat-form-field>
  </form>
</sheet-container>
