

<ng-container *ngIf="entrantsList$ | async as entrants else loading">

  <component-frame>
    <input class="w-full focus:outline-none text-base" placeholder="Search" (input)="searchUpdate($event)">
  </component-frame>
  <ng-container *ngFor="let entrant of entrants">
      <app-entrant-list-item [entrant]="entrant"/>
  </ng-container>

  <ng-container *ngIf="pagination$ | async as pagination">
    <component-frame class="cursor-pointer" (click)="loadMore()" *ngIf="pagination.currentPage < pagination.totalPages">
      <p class="py-1 font-bold text-sm text-primary-500 hover:text-primary-600 transition duration-100 ease-in text-center">
        Load More
      </p>
    </component-frame>
  </ng-container>

  <ng-container *ngIf="!entrants.length">
    <component-frame>
      <p class="py-1 font-bold text-sm text-primary-500 hover:text-primary-600 transition duration-100 ease-in text-center">
        No entrants for this clan
      </p>
    </component-frame>
  </ng-container>
</ng-container>

<ng-template #loading>
  <app-clan-list-placeholder/>
  <app-clan-list-placeholder/>
  <app-clan-list-placeholder/>
</ng-template>
