<component-frame>
  <ng-container *ngIf="(prizes$ | async) as prizes">
    <mat-checkbox *ngIf="prizes.length" [(ngModel)]="showFullQuantity">Show Full Amounts</mat-checkbox>
    <div class="last:border-none border-b border-gray-200" *ngFor="let prize of (prizes | reverse)">
      <prize-list-item [prize]="prize"/>
    </div>
  </ng-container>

  <ng-container *ngIf="!(prizes$ | async)?.length">
    <div class="flex min-w-0 py-2 justify-center">
      <p class="text-sm font-semibold text-center">No prizes yet</p>
    </div>
  </ng-container>
</component-frame>
