<ng-container *ngIf="clan$ | async as clan">
  <component-frame>
    <h1 class="text-center text-3xl mb-5">{{clan.name}}</h1>
    <div class="flex justify-between sm:justify-around text-center">
        <div class="mx-2 basis-1/3">
            <p class="font-bold text-sm">Members</p>
            <p class="font-extralight text-2xl leading-tight font-display">{{clan.members.length}}</p>
        </div>
        <div class="mx-2 basis-1/3">
            <p class="font-bold text-sm">Raffles</p>
            <p class="font-extralight text-2xl leading-tight font-display">{{clan.raffles.length}}</p>
        </div>
    </div>

    <h1 class="text-6xl">Fix auto update on clan change with clan stream</h1>

    <div class="pt-10 max-w-xs">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>manage_accounts</mat-icon>
          </mat-panel-title>
          <mat-panel-description>
            Members
          </mat-panel-description>
        </mat-expansion-panel-header>
      <clan-member-list [members]="clan.members"/>
      <add-clan-member-button *ngIf="isOwner$ | async"/>
      </mat-expansion-panel>
    </div>
  </component-frame>
  <create-raffle-button (click)="openCreateRaffle()"/>
  <app-raffle-list [raffles]="clan.raffles"></app-raffle-list>
</ng-container>
